body {
	background-image: url("assets/images/bg.png");
	height:100%;
	background-color: #cccccc;
}

h1  {
	color:#fff;
	font-size: 2em;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
h2 {
	color:#4aaaa5;
	font-size: 1.5em;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
h3 {
	color:#4aaaa5;
	font-size: 1.25em;
	font-weight: bold;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
p {
	float: right;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;;
}
header{
	overflow:auto;
	background-color: #fff;
	border-bottom:1.5px solid #AFAEAD;
	width:100%;
}
hgroup {
	background-color: #4aaaa5;
	float:left;
	padding:20px;
	color:#fff;
	width:120px;
	text-align: center;
	margin-left:108px;
}
nav {
    float:right;
    padding:30px 20px 20px 20px;
    color:gray;
    margin-right: 85px;
}
section {
	width:590px;
	float:left;
	overflow: auto;
	background-color: #fff;
	height: auto;
	padding: 30px;
	margin:40px 0px 0px 108px;
	border:1px solid #AFAEAD;
}
aside {
	width:210px;
	float:right;
	overflow: auto;
	background-color: #fff;
	height:130px;
	text-align: center;
	margin:40px 108px 0px 0px;
	padding: 30px;
	border:1px solid #AFAEAD;
}
#wrapper {
	min-height: 100%;
	margin: 0 auto -155px;
}
#footer {
	background:#666666;
	width:100%;
	padding:25px;
	border-top:5px solid #4aaaa5;
	position:absolute;
	bottom:0;
	left:0;
	text-align: center;
	color:#AFAEAD;
	font-size: 12px;
}
ul {
	
}
li {
	display:inline;
	color:#AFAEAD;
}
hr {
	border:1px solid #AFAEAD;
}







